<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} Page not Found</title>
	<link rel="icon"  href="./app/core/theme/img/bolt.png">
	<link rel="stylesheet" type="text/css" href="{{ base_url }}app/core/theme/css/css.css">
	<link rel="stylesheet" type="text/css" href="{{ base_url }}font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{ base_url }}workspace/theme/css/style.css">
	<link rel="stylesheet" type="text/css" href="{{ base_url }}app/core/theme/css/core.css">

</head>
<body>

<div class="container">
	<div class="container-fluid">
		<div class="row">
			<h1 class="core-title">404<br>P&aacute;gina no Encontrada </h1>
			<div class="social-network">
				<a href="/" class="btn btn-success">Inicio</a>

			</div>
		</div>
	</div>
</div>


<script src="{{ base_url }}assets/libraries/semantic.min.js"></script>
<script src="{{ base_url }}assets/libraries/freewall.js"></script>
</body>
</html>